{% extends "base.html" %} {% block content %} {% load static %} {% load i18n %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<body>

        <!-- Pageloader -->
        <!-- <div class="pageloader"></div>
        <div class="infraloader is-active"></div>
        <div class="app-overlay"></div> -->
        
        <!-- Main Navbar -->
        
        <!-- Main Navbar -->
   

    <!-- Mobile Navbar -->
    
    <!-- Mobile Navbar -->
            




  

                <div class="products-navigation" style="display: none;">
                </div>
                    

              
     
    <!-- 404 page -->       
    <div class="container">
    


        <div class="c404">

        <img src="/static/assets/img/404.svg" alt="">

<h2>Opps!, Course Not found..</h2>

</div>

</body>
</html>
{% endblock %}