import java.util.Scanner;

public class JavaExample
{
    public static void main(String args[])
    {


        String itemID;
        Double price;
        int quantity;

        Scanner itemID = new Scanner(System.in);
        Scanner price = new Scanner(System.in);
        Scanner price = new Scanner(System.in);


        System.out.print("Please Enter Item Id"+ itemID );
        itemID = scanner.nextInt();
        System.out.print("Please Enter Item Id"+ price );
        price = scanner.nextDouble();
        System.out.print("Please Enter Item Id"+ quantity );
        quantity = scanner.nextInt();



        System.out.print("Your Item id is:" itemID "\n");
        System.out.print("Your Item id is:" price "\n");
        System.out.print("Your Item id is:" quantity "\n");





    }
}