{% extends "base.html" %} {% block content %} {% load static %} {% load i18n %}

<!-- HOEM SECTION -->
<!-- USER LOGE OUT -->


 
<style>

    /* Loading Animation */

    @keyframes loading {
        100% {
            transform: translateX(100%);
        }
    }



    .dancin-bc{
    background: white !important;
    height: 100%;
    width: 100%;

    }
    .dancing-lao {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.dancing-lao:after {
  display: block;
  width: 150px;
  height: 2px;
  margin-top: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: rgb(43, 148, 209);
  content: "";
  -webkit-animation: 1s border infinite;
          animation: 1s border infinite;
  -webkit-animation-timing-function: cubic-bezier(0.92, 0.18, 0.04, 0.92);
          animation-timing-function: cubic-bezier(0.92, 0.18, 0.04, 0.92);
}
.dancing-lao .left-dots {
  position: absolute;
  bottom: 20%;
  left: 20%;
}
.dancing-lao .right-dots {
  position: absolute;
  bottom: 20%;
  right: 20%;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.dancing-lao .dot {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(43, 148, 209);
  opacity: 0;
}
.dancing-lao .dot-1 {
  -webkit-animation: 1s dot infinite;
          animation: 1s dot infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}
.dancing-lao .dot-2 {
  -webkit-animation: 1s dot-2 infinite;
          animation: 1s dot-2 infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}
.dancing-lao .circle-dot {
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid rgb(43, 148, 209);
  -webkit-animation: 1s cirle-dot infinite;
          animation: 1s cirle-dot infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  opacity: 0;
}
.dancing-lao img {
  display: block;
  margin: auto;
  width: 90px;
  height: 80px;
  margin-bottom: 20px;
  -webkit-animation: 1s dance infinite;
          animation: 1s dance infinite;
  -webkit-animation-timing-function: cubic-bezier(0.92, 0.18, 0.04, 0.92);
          animation-timing-function: cubic-bezier(0.92, 0.18, 0.04, 0.92);
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes dance {
  0% {
    -webkit-transform: translate3d(-10px, -100px, 0) rotate(-15deg) scaleY(1.1);
            transform: translate3d(-10px, -100px, 0) rotate(-15deg) scaleY(1.1);
  }
  50% {
    -webkit-transform: translate3d(0, 8px, 0) scaleY(0.85);
            transform: translate3d(0, 8px, 0) scaleY(0.85);
  }
  100% {
    -webkit-transform: translate3d(10px, -100px, 0) rotate(15deg) scaleY(1.1);
            transform: translate3d(10px, -100px, 0) rotate(15deg) scaleY(1.1);
  }
}

@keyframes dance {
  0% {
    -webkit-transform: translate3d(-10px, -100px, 0) rotate(-15deg) scaleY(1.1);
            transform: translate3d(-10px, -100px, 0) rotate(-15deg) scaleY(1.1);
  }
  50% {
    -webkit-transform: translate3d(0, 8px, 0) scaleY(0.85);
            transform: translate3d(0, 8px, 0) scaleY(0.85);
  }
  100% {
    -webkit-transform: translate3d(10px, -100px, 0) rotate(15deg) scaleY(1.1);
            transform: translate3d(10px, -100px, 0) rotate(15deg) scaleY(1.1);
  }
}
@-webkit-keyframes border {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: scaleX(0.6);
            transform: scaleX(0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0.5;
  }
}
@keyframes border {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: scaleX(0.6);
            transform: scaleX(0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0.5;
  }
}
@-webkit-keyframes dot {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  50% {
    -webkit-transform: scale(1) translate3d(-50px, -70px, 0);
            transform: scale(1) translate3d(-50px, -70px, 0);
    opacity: .8;
  }
  100% {
    -webkit-transform: scale(1) translate3d(-50px, -70px, 0);
            transform: scale(1) translate3d(-50px, -70px, 0);
    opacity: 0;
  }
}
@keyframes dot {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  50% {
    -webkit-transform: scale(1) translate3d(-50px, -70px, 0);
            transform: scale(1) translate3d(-50px, -70px, 0);
    opacity: .8;
  }
  100% {
    -webkit-transform: scale(1) translate3d(-50px, -70px, 0);
            transform: scale(1) translate3d(-50px, -70px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes dot-2 {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  70% {
    -webkit-transform: scale(0.7) translate3d(-50px, -50px, 0);
            transform: scale(0.7) translate3d(-50px, -50px, 0);
    opacity: .8;
  }
  100% {
    -webkit-transform: scale(0.7) translate3d(-50px, -50px, 0);
            transform: scale(0.7) translate3d(-50px, -50px, 0);
    opacity: 0;
  }
}
@keyframes dot-2 {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  70% {
    -webkit-transform: scale(0.7) translate3d(-50px, -50px, 0);
            transform: scale(0.7) translate3d(-50px, -50px, 0);
    opacity: .8;
  }
  100% {
    -webkit-transform: scale(0.7) translate3d(-50px, -50px, 0);
            transform: scale(0.7) translate3d(-50px, -50px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes cirle-dot {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  80% {
    -webkit-transform: scale(1) translate3d(-80px, -40px, 0);
            transform: scale(1) translate3d(-80px, -40px, 0);
    opacity: .8;
  }
  100% {
    -webkit-transform: scale(1) translate3d(-80px, -40px, 0);
            transform: scale(1) translate3d(-80px, -40px, 0);
    opacity: 0;
  }
}
@keyframes cirle-dot {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  80% {
    -webkit-transform: scale(1) translate3d(-80px, -40px, 0);
            transform: scale(1) translate3d(-80px, -40px, 0);
    opacity: .8;
  }
  100% {
    -webkit-transform: scale(1) translate3d(-80px, -40px, 0);
            transform: scale(1) translate3d(-80px, -40px, 0);
    opacity: 0;
  }
}


@media only screen and (max-width: 600px) {


    .single_category{
       padding-left: 15px !important;
     }

}

</style>

<div class="single_category" style="background-image: url('{% static category.image %}') !important">
    <div class="container">
        <h3>{% blocktrans %} {{course_cnt}} courses in {{course_name}} {% endblocktrans %} </h3>
        <p>{% trans "If you don't find what you want, be more specific.." %}</p>
    </div>
</div>

<div class="products-navigation" style="display: none;">
</div>

<!-- Filters and courses -->
<div id="shop-page" class="shop-wrapper">




    <div class="shop-header">
        <div class="container ">
            <div class="store-tabs">
                <a data-tab="products-tab" class="tab-control is-active">{% trans 'All' %}</a>
                <a data-tab="brands-tab" class="tab-control">{% trans 'Paid' %}</a>
                <a data-tab="followers-tab" class="tab-control">{% trans 'Free' %}</a>
                <div class="store-naver"></div>
            </div>

            <div>
            <div class="control-filter is-combo is-combo-dark filter-panel" style = "width: 100%;height: 100%;margin-top: 5px;max-height: 190px;">
                <div class="box-inner">
                    <div class="combo-item">
                        <!-- <span class="selected-item"></span> -->
                        <select class="combo-box selected-item" id = "cateId" onchange = "categoryFunc()" style="width:15%;">
                            <option selected disabled hidden >Sort By</option>
                            <option value = "All">All</option>
                            <option value = "1">Most Rating</option>
                            <option value = "2">Most Students</option>
                            <option value = "3">Newest</option>
                        </select>
                    </div>
                </div>
            </div>

            </div>
{#            <div class="control-filter is-combo filter-panel">#}
{#                <div class="combo-box">#}
{#                    <div class="box-inner">#}
{#                        <div class="combo-item">#}
{#                            <span class="selected-item">{% trans 'Sort By' %}</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="box-chevron">#}
{#                        <i data-feather="chevron-down"></i>#}
{#                    </div>#}
{#                    <div class="box-dropdown">#}
{#                        <div class="dropdown-inner has-slimscroll">#}
{#                            <ul>#}
{#                                <li>#}
{#                                    <span class="item-name" data-id="1">{% trans 'Newest courses' %}</span>#}
{#                                    <span class="checkmark">#}
{#                                        <i data-feather="check"></i>#}
{#                                    </span>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <span class="item-name" data-id="2">{% trans 'Most students' %}</span>#}
{#                                    <span class="checkmark">#}
{#                                        <i data-feather="check"></i>#}
{#                                    </span>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <span class="item-name" data-id="3">{% trans 'Most Ratings' %}</span>#}
{#                                    <span class="checkmark">#}
{#                                        <i data-feather="check"></i>#}
{#                                    </span>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

        </div>
    </div>
    <div class="store-sections">
        <div class="container">
            <!--Products-->
            <div  id="products-tab" class="store-tab-pane is-active" id="demo">
                <div class="columns  is-multiline">
					{% for course in course_list %}
                    <div class="column is-one-fifth-fullhd is-one-quarter-widescreen is-one-third-desktop is-half-tablet is-full-mobile">
                        <div class="product-card  product-card-dark" data-name="Spring Red Dress" data-price="44.00" data-colors="true" data-variants="true" data-path="/static/assets/img/products/1">
                            <a href="/single_course?id={{course.id}}" class="product-image">
                                <div class="image-grid-wrap">
                                    <div class="image-grid">
                                        <!--Grid Row-->
                                        <div class="image-row">
                                            <!--Photo-->
                                            <div class="flex-1 has-background-image loading skeleton" style="background-color:rgb(233, 232, 232);">
                                                <div class="image-owner">
                                                    <div class="name">
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 255, 255);"></span>
                                                        <span style="font-size: medium; color: rgb(255, 238, 80);font-weight: 700;margin-left: 5px;">{{ course.rating }}</span>
                                                    </div>
                                                </div>
                                                <div id="invite-pop" class="photo-like pop-button has-tooltip" data-title="Relationship">
                                                    <a href="#" class="inner">
                                                        <i class="inactive-icon" data-feather="heart"></i>
                                                    </a>
                                                </div>
                                                <a id="follow-pop" class="photo-time pop-button has-tooltip" data-title="Relationship">
                                                    <i class="fa fa-shopping-cart checkit" style="font-size: 22px;color: #fff;"></i>
                                                </a>

                                            </div>

                                            <div class="flex-1 has-background-image show-image" data-background="/static/assets/img/courses/pc.jpg" data-demo-background="/static/assets/img/courses/pc.jpg" >
                                                <a href = "/single_course/{{course.id}}"> <div class="overlay"></div></a>
                                                <div class="image-owner">
                                                    <div class="name">
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 255, 255);"></span>
                                                        <span style="font-size: medium; color: rgb(255, 238, 80);font-weight: 700;margin-left: 5px;">{{ course.rating }}</span>
                                                    </div>
                                                </div>
                                                <div id="invite-pop" class="photo-like pop-button has-tooltip" data-title="Relationship">
                                                    <a href="#" class="inner">
                                                        <i class="inactive-icon" data-feather="heart"></i>
                                                    </a>
                                                </div>
                                                <a id="follow-pop" class="photo-time pop-button has-tooltip" data-title="Relationship">
                                                    <i class="fa fa-shopping-cart" style="font-size: 22px;color: #fff;"></i>
                                                </a>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </a>

                            <div class="product-skeleton">
                                <div class="pd_title loading"></div>
                                <div class="pd_description">
                                    <div class="pd_description1 loading"></div>
                                    <div class="pd_description2 loading"></div>
                                </div>
                                <div class="pd_review" style="display: flex;">
                                    <div class="pd_users loading"></div>
                                    <div class="pd_videos loading"></div>
                                </div>
                                <div class="pd_footer" style="display: flex;">
                                    <div class="pd_price loading"></div>
                                    <div class="pd_button loading"></div>
                                </div>
                            </div>

                            <div class="product-info" >
                                <h3>
                                    <a href="# " style="display: block; width: 230px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; ">{{ course.name }}</a>
                                </h3>
                                <p style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden">{{ course.description }}</p>

                                <i class="fa fa-users "></i>
                                <span style="font-size: small; ">{{ course.stuCnt }}</span>
                                <i class="fa fa-video "></i>
                                <span style="font-size: small; ">{{ course.video }} Videos</span>
                                <div class="product-actions ">
                                    <div class="left ">
                                        {% if course.price > 0 %}
                                        <b style="color:red ">${{course.price}}</b>
                                        {% else %}
                                        <b style="color:green "> Free! </b>
                                        {% endif %}
                                    </div>
                                    <div class="right ">
                                        <a class="button primary-button is-solid raised story modal-trigger promo" data-id="{{ course.id }}" onclick="getPromo(this)">
                                            <i class="fa fa-play" data-id="{{ course.id }}"></i> Promo
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <center>
                    <nav class="pagination is-centered " role="navigation " aria-label="pagination " style="margin-bottom: 20px; ">

                        <ul class="pagination-list ">
                            <li>
                                <a class="pagination-previous " style="background-color: white; border-radius: 50% "><span class="fa fa-arrow-left "></span>&nbsp;

                                        </a>
                            </li>
                            <li><a class="pagination-link " style="background-color: white;  border-radius: 50% !important;width:43px;height:43px" aria-label="Page 1 " aria-current="page ">1..</a></li>
                            <li><a class="pagination-link is-current " style=" border-radius: 50% !important;width:43px;height:43px" aria-label="Page 1 " aria-current="page ">10</a></li>
                            <li><a class="pagination-link " style="background-color: white;  border-radius: 50% !important;width:43px;height:43px" aria-label="Page 1 " aria-current="page ">..43</a></li>
                            <li>
                                <a class="pagination-next " style="background-color: white; border-radius: 50%">
                                    <span class="fa fa-arrow-right "></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </center>
            </div>
            <!-- Followers -->
            <div id="followers-tab" class="store-tab-pane">

               <div class="columns  is-multiline">
					{% for course in course_free_list %}
                    <div class="column is-one-fifth-fullhd is-one-quarter-widescreen is-one-third-desktop is-half-tablet is-full-mobile">
                        <div class="product-card  product-card-dark" data-name="Spring Red Dress" data-price="44.00" data-colors="true" data-variants="true" data-path="/static/assets/img/products/1">
                            <a href="/single_course?id={{course.id}}" class="product-image">
                                <div class="image-grid-wrap">
                                    <div class="image-grid">
                                        <!--Grid Row-->
                                        <div class="image-row">
                                            <!--Photo-->
                                            <div class="flex-1 has-background-image loading skeleton" style="background-color:rgb(233, 232, 232);">
                                                <div class="image-owner">
                                                    <div class="name">
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 255, 255);"></span>
                                                        <span style="font-size: medium; color: rgb(255, 238, 80);font-weight: 700;margin-left: 5px;">{{ course.rating }}</span>
                                                    </div>
                                                </div>
                                                <div id="invite-pop" class="photo-like pop-button has-tooltip" data-title="Relationship">
                                                    <a href="#" class="inner">
                                                        <i class="inactive-icon" data-feather="heart"></i>
                                                    </a>
                                                </div>
                                                <a id="follow-pop" class="photo-time pop-button has-tooltip" data-title="Relationship">
                                                    <i class="fa fa-shopping-cart" style="font-size: 22px;color: #fff;"></i>
                                                </a>

                                            </div>

                                            <div class="flex-1 has-background-image show-image" data-background="/static/assets/img/courses/pc.jpg" data-demo-background="/static/assets/img/courses/pc.jpg" >
                                                <a href = "/single_course/{{course.id}}"> <div class="overlay"></div></a>
                                                <div class="image-owner">
                                                    <div class="name">
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 255, 255);"></span>
                                                        <span style="font-size: medium; color: rgb(255, 238, 80);font-weight: 700;margin-left: 5px;">{{ course.rating }}</span>
                                                    </div>
                                                </div>
                                                <div id="invite-pop" class="photo-like pop-button has-tooltip" data-title="Relationship">
                                                    <a href="#" class="inner">
                                                        <i class="inactive-icon" data-feather="heart"></i>
                                                    </a>
                                                </div>
                                                <a id="follow-pop" class="photo-time pop-button has-tooltip" data-title="Relationship">
                                                    <i class="fa fa-shopping-cart" style="font-size: 22px;color: #fff;"></i>
                                                </a>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </a>

                            <div class="product-skeleton">
                                <div class="pd_title loading"></div>
                                <div class="pd_description">
                                    <div class="pd_description1 loading"></div>
                                    <div class="pd_description2 loading"></div>
                                </div>
                                <div class="pd_review" style="display: flex;">
                                    <div class="pd_users loading"></div>
                                    <div class="pd_videos loading"></div>
                                </div>
                                <div class="pd_footer" style="display: flex;">
                                    <div class="pd_price loading"></div>
                                    <div class="pd_button loading"></div>
                                </div>
                            </div>

                            <div class="product-info" >
                                <h3>
                                    <a href="# " style="display: block; width: 230px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; ">{{ course.name }}</a>
                                </h3>
                                <p style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden">{{ course.description }}</p>

                                <i class="fa fa-users "></i>
                                <span style="font-size: small; ">{{ course.stuCnt }}</span>
                                <i class="fa fa-video "></i>
                                <span style="font-size: small; ">{{ course.video }} Videos</span>
                                <div class="product-actions ">
                                    <div class="left ">
                                        {% if course.price > 0 %}
                                        <b style="color:red ">${{course.price}}</b>
                                        {% else %}
                                        <b style="color:green "> Free! </b>
                                        {% endif %}
                                    </div>
                                    <div class="right ">
                                        <a class="button primary-button is-solid raised story modal-trigger promo" data-id="{{ course.id }}" onclick="getPromo(this)">
                                            <i class="fa fa-play" data-id="{{ course.id }}"></i> Promo
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <center>
                    <nav class="pagination is-centered " role="navigation " aria-label="pagination " style="margin-bottom: 20px; ">

                        <ul class="pagination-list ">
                            <li>
                                <a class="pagination-previous " style="background-color: white; border-radius: 50% "><span class="fa fa-arrow-left "></span>&nbsp;

                                        </a>
                            </li>
                            <li><a class="pagination-link " style="background-color: white;  border-radius: 50% !important;width:43px;height:43px" aria-label="Page 1 " aria-current="page ">1..</a></li>
                            <li><a class="pagination-link is-current " style=" border-radius: 50% !important;width:43px;height:43px" aria-label="Page 1 " aria-current="page ">10</a></li>
                            <li><a class="pagination-link " style="background-color: white;  border-radius: 50% !important;width:43px;height:43px" aria-label="Page 1 " aria-current="page ">..43</a></li>
                            <li>
                                <a class="pagination-next " style="background-color: white; border-radius: 50%">
                                    <span class="fa fa-arrow-right "></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </center>

            </div>

            <div id="brands-tab" class="store-tab-pane ">
                 <div class="columns  is-multiline">
					{% for course in course_paid_list %}
                    <div class="column is-one-fifth-fullhd is-one-quarter-widescreen is-one-third-desktop is-half-tablet is-full-mobile">
                        <div class="product-card  product-card-dark" data-name="Spring Red Dress" data-price="44.00" data-colors="true" data-variants="true" data-path="/static/assets/img/products/1">
                            <a href="/single_course?id={{course.id}}" class="product-image">
                                <div class="image-grid-wrap">
                                    <div class="image-grid">
                                        <!--Grid Row-->
                                        <div class="image-row">
                                            <!--Photo-->
                                            <div class="flex-1 has-background-image loading skeleton" style="background-color:rgb(233, 232, 232);">
                                                <div class="image-owner">
                                                    <div class="name">
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 255, 255);"></span>
                                                        <span style="font-size: medium; color: rgb(255, 238, 80);font-weight: 700;margin-left: 5px;">{{ course.rating }}</span>
                                                    </div>
                                                </div>
                                                <div id="invite-pop" class="photo-like pop-button has-tooltip" data-title="Relationship">
                                                    <a href="#" class="inner">
                                                        <i class="inactive-icon" data-feather="heart"></i>
                                                    </a>
                                                </div>
                                                <a id="follow-pop" class="photo-time pop-button has-tooltip" data-title="Relationship">
                                                    <i class="fa fa-shopping-cart" style="font-size: 22px;color: #fff;"></i>
                                                </a>

                                            </div>

                                            <div class="flex-1 has-background-image show-image" data-background="/static/assets/img/courses/pc.jpg" data-demo-background="/static/assets/img/courses/pc.jpg" >
                                                <a href = "/single_course/{{course.id}}"> <div class="overlay"></div></a>
                                                <div class="image-owner">
                                                    <div class="name">
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 238, 80);"></span>
                                                        <span class="fa fa-star" style="color: rgb(255, 255, 255);"></span>
                                                        <span style="font-size: medium; color: rgb(255, 238, 80);font-weight: 700;margin-left: 5px;">{{ course.rating }}</span>
                                                    </div>
                                                </div>
                                                <div id="invite-pop" class="photo-like pop-button has-tooltip" data-title="Relationship">
                                                    <a href="#" class="inner">
                                                        <i class="inactive-icon" data-feather="heart"></i>
                                                    </a>
                                                </div>
                                                <a id="follow-pop" class="photo-time pop-button has-tooltip" data-title="Relationship">
                                                    <i class="fa fa-shopping-cart" style="font-size: 22px;color: #fff;"></i>
                                                </a>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </a>

                            <div class="product-skeleton">
                                <div class="pd_title loading"></div>
                                <div class="pd_description">
                                    <div class="pd_description1 loading"></div>
                                    <div class="pd_description2 loading"></div>
                                </div>
                                <div class="pd_review" style="display: flex;">
                                    <div class="pd_users loading"></div>
                                    <div class="pd_videos loading"></div>
                                </div>
                                <div class="pd_footer" style="display: flex;">
                                    <div class="pd_price loading"></div>
                                    <div class="pd_button loading"></div>
                                </div>
                            </div>

                            <div class="product-info" >
                                <h3>
                                    <a href="# " style="display: block; width: 230px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; ">{{ course.name }}</a>
                                </h3>
                                <p style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden">{{ course.description }}</p>

                                <i class="fa fa-users "></i>
                                <span style="font-size: small; ">{{ course.stuCnt }}</span>
                                <i class="fa fa-video "></i>
                                <span style="font-size: small; ">{{ course.video }} Videos</span>
                                <div class="product-actions ">
                                    <div class="left ">
                                        {% if course.price > 0 %}
                                        <b style="color:red ">${{course.price}}</b>
                                        {% else %}
                                        <b style="color:green "> Free! </b>
                                        {% endif %}
                                    </div>
                                    <div class="right ">
                                        <a class="button primary-button is-solid raised story modal-trigger promo" data-id="{{ course.id }}" onclick="getPromo(this)">
                                            <i class="fa fa-play" data-id="{{ course.id }}"></i> Promo
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <center>
                    <nav class="pagination is-centered " role="navigation " aria-label="pagination " style="margin-bottom: 20px; ">

                        <ul class="pagination-list ">
                            <li>
                                <a class="pagination-previous " style="background-color: white; border-radius: 50% "><span class="fa fa-arrow-left "></span>&nbsp;

                                        </a>
                            </li>
                            <li><a class="pagination-link " style="background-color: white;  border-radius: 50% !important;width:43px;height:43px" aria-label="Page 1 " aria-current="page ">1..</a></li>
                            <li><a class="pagination-link is-current " style=" border-radius: 50% !important;width:43px;height:43px" aria-label="Page 1 " aria-current="page ">10</a></li>
                            <li><a class="pagination-link " style="background-color: white;  border-radius: 50% !important;width:43px;height:43px" aria-label="Page 1 " aria-current="page ">..43</a></li>
                            <li>
                                <a class="pagination-next " style="background-color: white; border-radius: 50%">
                                    <span class="fa fa-arrow-right "></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </center>
            </div>
        </div>
    </div>
</div>
<!-- Filters and courses -->

<!-- Course Detail -->
<div id="videos-modal" class="modal videos-modal is-large has-light-bg">
    <div class="modal-background"></div>
    <div class="modal-content">

        <div class="card">
            <div class="card-heading">
                <div class="user-meta">
                    <img src="/static/assets/img/man.jpg" data-demo-src="/static/assets2/images/avatars/jenna.png" alt="">

                </div>

                <span class="user-meta-span">Elzubair Mohammed Saleh </span>

                <i class="fa fa-star" style="color: rgb(255, 217, 0);" class="user-meta-star"></i><b class="user-meta-b">4.5</b>

                <span class="user-meta-span">&nbsp; &nbsp; | Learn html5 and sass with css.. &nbsp; &nbsp;</span>
                <a type="button" class="button" style="background-color: rgb(202, 0, 51);color: #fff;">Add to Fav  &nbsp;<i class="fa fa-heart"></i></a>

                <div class="close-wrap">
                    <span class="close-modal">
                            <i data-feather="x"></i>
                        </span>
                </div>
            </div>
            <div class="card-body">
                <div class="inner">
                    <div class="left-section">
                        <video poster="/static/assets/img/setting.jpg" style="" id="player" playsinline controls>
                                <source src="/static/assets/img/vid/html.mp4" type="video/webm" />
                            
                                <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default />
                            </video>
                    </div>
                    <div class="right-section">

                        <div class="inner-content">
                            <div class="live-stats">
                                <div class="social-count-2">
                                    <div class="likes-count">
                                        <i class="fa fa-users"></i>
                                        <span>140,440</span>
                                    </div>
                                    <div class="shares-count">
                                        <i class="fa fa-star" style="color: rgb(212, 173, 0);"></i>
                                        <span>4.8</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tabs-wrapper">
                            <div class="tabs is-fullwidth">
                                <ul>
                                    <li class="is-active">
                                        <a>Demo Videos</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content ">


                                <div class="accordion js-accordion accordion--boxed list-group-flush" id="parent">
                                    <div class="accordion__item" style="border: 1px solid #ccc;height: 100% !important;">
                                        <a href="#" style="background-color: rgb(240, 240, 240);border: 1px solid rgb(223, 223, 223);" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-1" data-parent="#parent">
                                            <span class="flex" style="font-size: small;">Course Overview</span>
                                            <i style="position: absolute;right: 15px;top: 15px;font-size: small;" class="fa fa-arrow-down"></i>
                                        </a>
                                        <div class="accordion__menu collapse" id="course-toc-1">
                                            <div class="accordion__menu-link">

                                                <i class="fa fa-video" style="margin-right: 5px;color: rgb(194, 194, 194);"></i>
                                                <a class="flex" href="mini-student-lesson.html" style="color: rgb(1, 100, 192);">Watch Trailer</a>
                                                <span class="text-muted" style="color: rgb(3, 73, 139) !important;margin-left: 90px;">1m 10s</span>
                                            </div>
                                            <div class="accordion__menu-link">
                                            
                                                <i class="fa fa-video" style="margin-right: 5px;color: rgb(194, 194, 194);"></i>
                                                <a class="flex" href="mini-student-lesson.html" style="color: rgb(1, 100, 192);">Watch Trailer</a>
                                                <span class="text-muted" style="color: rgb(3, 73, 139) !important;margin-left: 90px;">1m 10s</span>
                                            </div>
                                            <div class="accordion__menu-link">
                                            
                                                <i class="fa fa-video" style="margin-right: 5px;color: rgb(194, 194, 194);"></i>
                                                <a class="flex" href="mini-student-lesson.html" style="color: rgb(1, 100, 192);">Watch Trailer</a>
                                                <span class="text-muted" style="color: rgb(3, 73, 139) !important;margin-left: 90px;">1m 10s</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                    </div>
                </div>



            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function() {
    });

	$('#tipue_drop_input').keyup(function(e) {
        var inp = $("#tipue_drop_input").val()
        console.log(inp)
        $.ajax({
                method : "POST",
                url : "/search_course/",
                data : {
                    'inp':inp,
                },
                success : function(response){
                $('#loading').hide();
                $('#products-tab').html("")
                $('#products-tab').html(response)
                }
            });
    });

	function categoryFunc(){
        id = '{{ category.id }}';
        catId = $('#cateId').val();

        $.ajax({
            method : "POST",
            url : "/sort_by_category/",
            data : {
                'category_id':id,
                'category_id_2':catId,
                },
                success : function(response){
                $('#loadings').hide();
                if (response == "error"){
                    $('#products-tab').html("")
                    swal({
                        title:  "Sorry, Course not found ",
                        icon: "warning",
                        button: "Ok",
                        closeOnClickOutside: false,
                    })
                    $('#products-tab').html("");
                    $('#brands-tab').html("");
                    $('#followers-tab').html("");
                }
                else {
                    {#response = JSON.parse(response);#}
                    $('#products-tab').html("");
                    $('#products-tab').html(response.rendered);
                    $('#brands-tab').html("");
                    $('#brands-tab').html(response.rendered2);
                    $('#followers-tab').html("");
                    $('#followers-tab').html(response.rendered1);
                    }
                }
            });

    }
</script>

{% endblock %}