{% extends "student/base.html" %}

{% block title %}
Payments
{% endblock %}

{% block headercontent %}
    {% with title="Payments" %}
    {% include "./layout/header.html" %}
    {% endwith %}
{% endblock %}
{% block content %}
    {% load static %}

    <div class=" page__container " style="margin-top: 0px;height: 100vh;">

        <div class="col-lg-6 p-6" style="margin-top: 25px;">
            <div class="list-group list-group-form">
                <div class="list-group-item d-flex align-items-center">
                    <img src="{%static 'student/assets/images/visa.svg' %}" alt="visa" width="38" class="mr-16pt">
                    <div class="flex">Your current payment method is <strong>Visa ending with 2819</strong></div>
                </div>
                <div class="list-group-item">
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-form-label form-label col-sm-3">Card number</label>
                        <div class="col-sm-9">
                            <input type="text" id="cardNo" class="form-control" placeholder="Credit / debit card number" value="{{ info.card_no }}" />
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="form-group row align-items-center mb-0">
                        <label class="col-form-label form-label col-sm-3">Security code (CVV)</label>
                        <div class="col-sm-9">
                            <input type="text" id="cvv" class="form-control" placeholder="CVV" value="{{ info.cvv }}" style="width:80px">
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div role="group" aria-labelledby="label-expire_month" class="m-0 form-group">
                        <div class="form-row align-items-center">
                            <label id="label-expire_month" for="expire_month" class="col-md-3 col-form-label form-label">Expiration date</label>
                            <div class="col-md-9">
                                <div class="form-row">
                                    <div class="col-auto">
                                        <select id="expire_month" class="form-control custom-select" style="width: 140px;">
                                            {% for month in monthList %}
                                                <option value="{{ month.key }}" {% if month.key == info.month %} selected="selected" {% endif %}>{{ month.value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-auto">
                                        <select id="expire_year" class="form-control custom-select" style="width: 100px;">
                                            {% for year in years %}
                                                <option value="{{ year }}" {% if year == info.year %} selected="selected" {% endif %}>{{ year }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="form-group row align-items-center mb-0">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <a href="" class="btn btn-primary" onclick="saveInfo()">Save changes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        function saveInfo(){
            cardNo = $('#cardNo').val();
            cvv = $('#cvv').val();
            month = $('#expire_month').val();
            year = $('#expire_year').val();
            id = '{{ request.user.id }}';
            url = '/savePaymentInfo/';
            $.post(url, {
                id : id,
                cardNo : cardNo,
                cvv : cvv,
                month : month,
                year : year
            }, function (res) {
                swal("Saved successfully!", {
                    icon: "success",
                    button: "Ok",
                    closeOnClickOutside: false,
                    });
            })
        }
    </script>
{%  endblock %}